go 1.26.2

use (
	../providertron
	./dashboard
	./internal
	./semcom_adapter
	./semcom_distill
	./semcom_embed
	./semcom_llm
	./semcom_orchestrator
	./semcom_personal
	./semcom_retrieve
	./semcom_session
	./semcom_store
)
